.aline{
    margin-left: 11vw;
    margin-right: 11vw;
     
}

.cookies{
    color:orangered;
    margin-left: 5vw;
    font-family: arial;
    font-size: 1.6vw;
    font-weight: 700;
    margin-left: 0.01vw;
    
    
}
.intro{
  font-family: arial;
  font-size: medium;
  font-weight: bolder;
}
.para{
    font-size: 0.9vw;
    font-weight: 0.9vw;
    font-family: arial;
    margin-top: 1vw;
    margin-bottom: 1vw;
    
}
.heading{
    font-family: arial;
    font-weight: bold;
    font-size: 0.9vw;
    margin-left: 2vw;
}
.link{
    font-size:0.95vw ;
    word-spacing: 0.9;
    margin-bottom: 1.5vw;
    color:#2568f7;
    text-decoration: none;
}
.link2{
    font-size:0.95vw ;
    word-spacing: 0.9;
    margin-bottom: 1vw;
    color:#2568f7 ;
    text-decoration: none;

}
.italic{
    font-weight: bold;
    font-size: 0.90vw;
}
.prelink{
    font-size: 0.90vw;
    word-spacing: 0.9;
}
.scrolltop{
    margin-inline-start: 93vw;
    width: 2.5vw;
    height: 3vw;
    background-color: grey;
    
    
}
.presection{
    text-decoration: none;
    color:#2568f7;
    font-weight: 200;
}
.inlink{
    text-decoration: none;
    color:#2568f7;
    font-weight: 200

}

